.education {
  max-width: 80%;
}
.educationContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.editButton {
  height: 20px;
  width: 40px;
}
.educationCard {
  display: flex;
  align-items: center;
  gap: 30px;
}
.educationCardCotnainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.startingYearForm,
.endingYearForm,
.schoolNameForm,
.descriptionForm {
  display: flex;
  flex-direction: column;
}
