.education {
  padding-left: 10px;
}
.educationContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.editButton {
  height: 20px;
  width: 40px;
}
.educationCard {
  display: flex;
  align-items: center;
  gap: 30px;
}
.educationCardCotnainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.startingYearForm,
.endingYearForm,
.schoolNameForm,
.descriptionForm {
  display: flex;
  flex-direction: column;
}
.educationTime {
  min-width: 86px;
}
.schoolDescripion {
  word-break: break-word;
}
.schoolName {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0px;
}
.schoolDescripion {
  font-size: 1.2rem;
  font-weight: 350;
  margin-top: 5px;
}
