.experience {
  max-width: 80%;
}
.experienceContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.editButton {
  height: 20px;
  width: 40px;
}
.experienceCard {
  display: flex;
  align-items: center;
  gap: 30px;
}
.experienceCardCotnainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.startingYearExperienceForm,
.endingYearExperienceForm,
.companyNameForm,
.positionNameForm,
.descriptionExperienceForm {
  display: flex;
  flex-direction: column;
}
