.experience {
  padding-left: 10px;
}
.experienceContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.editButton {
  height: 20px;
  width: 40px;
}
.experienceCard {
  display: flex;
  align-items: center;
  gap: 30px;
}
.experienceCardCotnainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.startingYearExperienceForm,
.endingYearExperienceForm,
.companyNameForm,
.positionNameForm,
.descriptionExperienceForm {
  display: flex;
  flex-direction: column;
}
.experienceTime {
  min-width: 86px;
}
.companyDescripion {
  word-break: break-word;
  font-size: 0.9rem;
}
.companyName {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0px;
}
.companyPositon {
  font-size: 1rem;
  font-weight: 350;
  margin-top: 5px;
  margin-bottom: -8px;
}
