.summary {
  padding-left: 10px;
}
.summaryContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.editButton {
  height: 20px;
  width: 40px;
}
.summary p {
  max-width: 100%;
  margin-top: -8px;
  word-break: break-word;
}
